<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>kleflogbook-log</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    table{
      width: 100%;
      margin: 10px auto;
      border-collapse:collapse;
      border: 1px solid black;
    }
    th, td {
      border: 1px solid black;
      text-align: left;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <div id="printMe">
    <center><h4>{{heading}}</h4></center>
    <table>
      <thead>
        <tr>
          <th style="width:5%">SI NO</th>
          <th style="width:15%">ID number</th>
          <th style="width:32%">Purpose</th>
          <th style="width:12%">Equipment Id</th>
          <th style="width:12%">Date</th>
          <th style="width:12%">Logged in time</th>
          <th style="width:12%">Logged out time</th>
        </tr>
      </thead>
      <tbody>
        {%for d in data%}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{d[1]}}</td>
          <td>{{d[3]}}</td>
          <td>{{d[4]}}</td>
          <td>{{d[5]}}</td>
          <td>{{d[6]}}</td>
          <td>{{d[7]}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <center>
    <button onclick="printDiv('printMe')">print</button>
  </center>
  <a href="/adminpage"><--Go to home</a>
  <script>
		function printDiv(divName){
			var printContents = document.getElementById(divName).innerHTML;
			var originalContents = document.body.innerHTML;
			document.body.innerHTML = printContents;
			window.print();
			document.body.innerHTML = originalContents;
		}
	</script>
</body>
</html>
